@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Paleta de colores 
 rich-black-fogra-39: #0a090cff;
 cultured: #f0edeeff;
 rich-black: #07393cff;
 ming: #2c666eff;
 middle-blue: #90ddf0ff;
*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%; 
}

header{
    background-color: rgb(4, 64, 71);
    height: 8vh;
    width: 100%;
}

ul li a{
    text-decoration: none;
    color: inherit;
    
}

a:visited{
    color: inherit;
}

header ul li{
    font-size: 2em;
    list-style-type: none;
    height: 100%;
    padding: 2vh;
}

#beber{
    color: #f0edeeff;
    display: flex;
    justify-content: space-around;  
}

#beber li a:hover{
    background-color: rgb(48, 48, 40);
}

body{
    background-color: rgb(33, 2, 107);
}

.tomar{
    width: 100%;
    height: 45vh;
    display: flex;
    background-image: url(../Imagenes/barra.jpg);

}
.tomar h1{
    color: rgb(171, 80, 224);
    display: flex;
    align-items: center;
    font-size: 10vh;
    margin: auto;
  

}
h2{
    margin-top: 3vh;
    padding: auto;
    margin-left: 1rem;
}

.bebiDas{
   width: 100%;
   max-width: 1200px;
   height: 430px;
   display: flex;
   justify-content: center;
   margin: auto;
   
}
.bebiDas .copas{
    width: 330px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    align-items: center;
}

.bebiDas .copas:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.bebiDas .copas img{
    width: 330px;
    height: 220px;

}
.copas p{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 300;
    color:#2c666eff ;
}   
.tOmar{
    font-size: 1.5rem;
    text-align: start;
    padding: 3vh;
}